<div id="create-resource-overlay" class="modal-ooi modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1>Create Resource</h1>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="org">Facility</label>
                <div class="controls">
                    <select name="org">
                        <% _.each(orgs, function(o) { %>
                            <option value="<%= o._id %>"><%= o.name %></option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="resource-type">Group</label>
                <div class="controls">
                    <select id="resourceType" name="resource-type" size="5">
                        <option value="DataProduct">Data Product</option>
                        <option value="MarineSite">Marine Site</option>
                        <option value="Model">Model</option>
                        <option value="Physical">Physical</option>
                        <option value="Software">Software</option>
                    </select>
                </div>
                <label class="control-label" for="resource-type">Resource Type</label>
                <div class="resourceNested controls">
                    <select id="ResourceTypes" name="nested-resource-types" size="4">
    
                    </select>
                </div>
                <div class="control-group" id="lifeCycle">
                    <label class="control-label" for="lifecycle-state">Lifecycle State</label>
                    <div class="controls">
                        <select id="lifecycleState" name="lifecycle-state"></select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button id="create-account-cancel" data-dismiss="modal" class="btn-general btn-cancel">Cancel</button>
        <button id="create-resource" class="btn-blue btn-save">Create Resource</button>
    </div>
</div>

                    
<script type="text/javascript">
var softwareNested = [
        {'value':'DataProcessDefinition', 'name':'Data Product Algorithm'},
        {'value': 'ExternalDatasetAgentInstance', 'name': 'Dataset Agent Driver Instance'},
        {'value': 'ExternalDatasetAgent', 'name': 'Dataset Agent Driver'},
        {'value': 'InstrumentAgentInstance', 'name': 'Instrument Agent Driver Instance'},
        {'value': 'InstrumentAgent', 'name': 'Instrument Agent Driver'},
        {'value': 'PlatformAgentInstance', 'name': 'Platform Agent Driver Instance'},
        {'value': 'PlatformAgent', 'name': 'Platform Agent Driver'}];
                                
    var dataProductNested = [
        {'value':'DataProcessDefinition', 'name':'Data Process Definition'},
        {'value': 'DataProcess', 'name': 'Data Process'},
        {'value': 'ExternalDatasetAgent', 'name': 'Dataset Agent'},
        {'value': 'ExternalDatasetAgentInstance', 'name': 'Dataset Agent Instance'},
        {'value': 'Deployment', 'name': 'Deployment'},
        {'value': 'InstrumentAgent', 'name': 'Instrument Agent'},
        {'value': 'InstrumentAgentInstance', 'name': 'Instrument Agent Instance'},
        {'value': 'InstrumentDevice', 'name': 'Instrument Device'},
        {'value': 'PlatformDevice', 'name': 'Platform Device'}];

    var modelNested = [
        {'value':'InstrumentModel', 'name':'Instrument Model'},
        {'value': 'PlatformModel', 'name': 'Platform Model'}];

    var physicalNested = [
        {'value':'InstrumentDevice', 'name':'Instrument Device'},
        {'value': 'PlatformDevice', 'name': 'Platform Devcie'}];

    var marineSiteNested = [
        {'value':'InstrumentSite', 'name':'Instrument Site'},
        {'value': 'PlatformSite', 'name': 'Platform Site'},
        {'value': 'Observatory', 'name': 'Array Site'}];

    var softwareLifeCycle = [
        {'value': 'PLANNED', 'name': 'Planned'},
        {'value': 'OPERATIONAL', 'name': 'Operational'},
        {'value': 'RETIRED', 'name': 'Retired'},
        {'value': 'DELETED', 'name': 'Deleted'}];

    var dataProductLifeCycle = [
        {'value': 'ACTIVE', 'name': 'Active' },
        {'value': 'RETIRED', 'name': 'Retired'},
        {'value': 'DELETED', 'name': 'Deleted'}];


    var modelLifeCycle = [
        {'value': 'PLANNED', 'name': 'Planned'},
        {'value': 'ACTIVE', 'name': 'Active' },
        {'value': 'RETIRED', 'name': 'Retired'},
        {'value': 'DELETED', 'name': 'Deleted'}];

    var marineLifeCycle = [
        {'value': 'PLANNED', 'name': 'Planned'},
        {'value': 'ACTIVE', 'name': 'Active' },
        {'value': 'INACTIVE', 'name': 'Inactive' },
        {'value': 'RETIRED', 'name': 'Retired'},
        {'value': 'DELETED', 'name': 'Deleted'}];
    
    
    IONUX2.Collections.SoftwareNested = Backbone.Collection.extend({});
    IONUX2.Collections.softwareNested = new IONUX2.Collections.SoftwareNested();
    IONUX2.Collections.softwareNested.set(softwareNested);
$(function() {

    // initial state
    $('#resourceType option[value="DataProduct"]').attr('selected', 'selected');
    for (var item in dataProductNested) {
            $('#ResourceTypes').append('<option value="' + dataProductNested[item].value + '">' + dataProductNested[item].name + '</option>');
        }
    for (var cycle in dataProductLifeCycle) {
        $('#lifecycleState').append('<option value="' + dataProductLifeCycle[cycle].value + '">' + dataProductLifeCycle[cycle].name + '</option>');
    }
    $('#lifecycleState option[value="Active"]').attr('selected', 'selected');

    // click handlers
    $('#resourceType option[value="Software"]').on('click', function(e) {
        e.preventDefault();
        $('#ResourceTypes, #lifecycleState').empty();
        for (var software in softwareNested) {
            $('#ResourceTypes').append('<option value="' + softwareNested[software].value + '">' + softwareNested[software].name + '</option>');
            //IONUX2.Views.softwareNestedMenu = new IONUX2.Views.SoftwareNestedMenu({collection: IONUX2.Collections.softwareNested});
        }
        for (var cycle in softwareLifeCycle) {
            $('#lifecycleState').append('<option value="' + softwareLifeCycle[cycle].value + '">' + softwareLifeCycle[cycle].name + '</option>');
        }
        $('#lifecycleState option[value="Planned"]').attr('selected', 'selected');
    });
    $('#resourceType option[value="Model"]').on('click', function(e) {
        e.preventDefault();
        $('#ResourceTypes, #lifecycleState').empty();
        for (var item in modelNested) {
            $('#ResourceTypes').append('<option value="' + modelNested[item].value + '">' + modelNested[item].name + '</option>');
        }
        for (var cycle in modelLifeCycle) {
            $('#lifecycleState').append('<option value="' + modelLifeCycle[cycle].value + '">' + modelLifeCycle[cycle].name + '</option>');
        }
        $('#lifecycleState option[value="Planned"]').attr('selected', 'selected');
    });
    $('#resourceType option[value="MarineSite"]').on('click', function(e) {
        e.preventDefault();
        $('#ResourceTypes, #lifecycleState').empty();
        for (var marine in marineSiteNested) {
            $('#ResourceTypes').append('<option value="' + marineSiteNested[marine].value + '">' + marineSiteNested[marine].name + '</option>');
        }
        for (var cycle in marineLifeCycle) {
            $('#lifecycleState').append('<option value="' + marineLifeCycle[cycle].value + '">' + marineLifeCycle[cycle].name + '</option>');
        }
        $('#lifecycleState option[value="Planned"]').attr('selected', 'selected');
    });

    $('#resourceType option[value="DataProduct"]').on('click', function(e) {
        e.preventDefault();
        $('#ResourceTypes, #lifecycleState').empty();
        for (var item in dataProductNested) {
            $('#ResourceTypes').append('<option value="' + dataProductNested[item].value + '">' + dataProductNested[item].name + '</option>');
        }
        for (var cycle in dataProductLifeCycle) {
            $('#lifecycleState').append('<option value="' + dataProductLifeCycle[cycle].value + '">' + dataProductLifeCycle[cycle].name + '</option>');
        }
        $('#lifecycleState option[value="Active"]').attr('selected', 'selected');
    });

    $('#resourceType option[value="Physical"]').on('click', function(e) {
        e.preventDefault();
        $('#ResourceTypes').empty();
        for (var physical in physicalNested) {
            $('#ResourceTypes').append('<option value="' + physicalNested[physical].value + '">' + physicalNested[physical].name + '</option>');
        }
        /*for (var cycle in physicalLifeCycle) {
            $('#lifecycleState').append('<option value="' + physicalLifeCycle[cycle].value + '">' + physicalLifeCycle[cycle].name + '</option>');
        }
        $('#lifecycleState option[value="Active"]').attr('selected', 'selected');*/
    });
    
});
</script>

