<!-- filename="accordion.html" -->
<div id="saveButtons">
 <button id="searchBtn" class="navButton">Search</button>
 <button id="saveSearch" class="navButton">Save this Search</button>
 <button id="resetBtn" class="navButton">Reset</button>
</div>
<div id="customSearchName"><input class="customName" type="text" placeholder="Name" maxlength="15" /> <button id="saveName">Save</button> <button id="cancelName">Cancel</button></div>
<div class="accordionContainer">
  <article class="leftAccordion accordion_fixed" id="keyword">
    <div class="accordionLabel">Keyword</div>
    <input id="keywordIn" class="keyword" type="text" placeholder="Enter keyword" style="display:inline-block;"/>
  </article>
  <!-- other accordions placed here dynamically -->
</div>

<form id="searchForm">
  <input type="hidden" name="north" id="northFm"/>
  <input type="hidden" name="south" id="southFm"/>
  <input type="hidden" name="east" id="eastFm"/>
  <input type="hidden" name="west" id="westFm"/>
  <input type="hidden" name="vertical-lower-bound" id="lowerFm"/>
  <input type="hidden" name="vertical-upper-bound" id="upperFm"/>
  <input type="hidden" name="temporal-from-ctrl"  id="tempFromFm"/>
  <input type="hidden" name="temporal-to-ctrl" id="tempToFm"/>
  <input type="hidden" name="temporal-field-ctrl" id="temporal-field-ctrlFm"/>
  <input type="hidden" name="radius" id="radiusFm"/>
</form>

<form id="searchRadialForm">
  <input type="hidden" name="south" id="southFm2"/>
  <input type="hidden" name="west" id="westFm2"/>
  <input type="hidden" name="vertical-lower-bound" id="lowerFm2"/>
  <input type="hidden" name="vertical-upper-bound" id="upperFm2"/>
  <input type="hidden" name="temporal-from-ctrl"  id="tempFromFm2"/>
  <input type="hidden" name="temporal-to-ctrl" id="tempToFm2"/>
  <input type="hidden" name="temporal-field-ctrl" id="temporal-field-ctrlFm2"/>
  <input type="hidden" name="radius" id="radiusFm2"/>
</form>

<!-- end filename="accordion.html" -->

<script type="text/template" id="filter-item-tmpl">{% include 'block_boolean2.html' %}</script>
    
    <script>
      $(function(){
        IONUX2.Views.leftAccordion = new IONUX2.Views.LeftAccordion(); /* CLEAN UP THIS NAMING !! */



        var accordions = {
          'spatial': {
              title: 'Spatial',
              id: 'spatial'
          },
          'temporal': {
            title: 'Temporal',
            id: 'temporal'
          },
          'facility': {
            title: 'Facilities/Organizations',
            id: 'orgSelector'
          },
          'observatory': {
            title: 'Observatories/Arrays',
            id: 'observatoryList'
          },
          /*
           'region': {
            title: 'Region',
            id: 'region'
          },
          */
          'sites': {
            title: 'Sites',
            id: 'site'
          },
          'platform': {
            title: 'Platform Types',
            id: 'platformTypesList'
          },
          'instrumentType': {
            title: 'Instrument Types',
            id: 'instrumentTypesList'
          },
          'dataType': {
            title: 'Data Types',
            id: 'dataTypesList'
          },
          'booleanExpression': {
            title: 'Boolean Expression',
            id: 'boolean_expression'
          }
        };

        for (var accordion in accordions) {
          IONUX2.Views.leftAccordion.addAccordion(accordions[accordion].title, accordions[accordion].id);
        }

        IONUX2.Views.spatial = new IONUX2.Views.Spatial({model: IONUX2.Models.spatialModelInstance});
        IONUX2.Views.temporal = new IONUX2.Views.Temporal({model: IONUX2.Models.temporalModelInstance});
        /* IONUX2.Views.RegionList = new IONUX2.Views.Region({collection: IONUX2.Dashboard.Observatories }); */ /*DELETE THIS */
        IONUX2.Views.SitesList = new IONUX2.Views.Sites({collection: IONUX2.Dashboard.Observatories });
        IONUX2.Views.InstrumentTypesList = new IONUX2.Views.InstrumentTypesMenu();
        IONUX2.Views.boolean = new IONUX2.Views.BooleanSearch();
		    IONUX2.Models.DataTypeListInstance = new IONUX2.Models.DataTypeList();
		    IONUX2.Views.DataTypesListInstance = new IONUX2.Views.DataTypesList({model: IONUX2.Models.DataTypeListInstance });
		    IONUX2.Models.DataTypeListInstance.fetch();
		    IONUX2.Collections.OrgsInstance = new IONUX2.Collections.Orgs();
		    IONUX2.Views.OrgSelectorInstance = new IONUX2.Views.OrgSelector({collection: IONUX2.Collections.OrgsInstance});
		    IONUX2.Collections.OrgsInstance.fetch();
        IONUX2.Models.ObservatoryListInstance = new IONUX2.Models.ObservatoryList();
        IONUX2.Views.ObservatoryListInstance = new IONUX2.Views.Observatories({model: IONUX2.Models.ObservatoryListInstance});
        IONUX2.Models.ObservatoryListInstance.fetch();

        IONUX2.Views.boolean.render();

        if (IONUX2.Models.SessionInstance.is_logged_in()) {
            // show save config buttons
            $('#saveConfiguration').show();
            UINAV.getUserProfile();
            UINAV.getUserConfiguration();
        }

        $("#platformTypesList").html(IONUX2.getTemplate('templates/block_platform_types2.html'));

        $('.accordionContainer').sortable({
          items: "article:not(.accordion_fixed)",
          distance: 5
        });
        $('.accordionContainer').jScrollPane({autoReinitialise: true});

        $(".accordionContainer" ).on( "sortupdate", function( event, ui ) {
          var sortable_order = $(this).sortable( "toArray" );
          IONUX2.Models.sortModelInstance.set({'sort_order': sortable_order});
          console.log("sort order model");
          console.log(IONUX2.Models.sortModelInstance);
        });


        $('#searchBtn').on('click', function(){
          search_clicked();
          IONUX2.setPageView("searchResults");
          if(IONUX2.getMapState() == "mapHidden"){
            IONUX2.setMapState('mapSplit');
          }
          if($('#legacyFacePageTab').hasClass('active')){
            $('#dataSearchResultsTab').click();
          }

          //save recent searches
          var name = "";
          UINAV.saveEntireSearch(name);
          var maxLength = 5;
          var parsed_collection = IONUX2.Collections.recentSearches.toJSON();

          if (parsed_collection.length != 0) {
            var collection_length = parsed_collection.length;
            var search_length = parsed_collection[0].saved_searches.length;
            console.log("search collection length is " + search_length);
            if (search_length == maxLength) {
               IONUX2.Collections.recentSearches.models[0].attributes.saved_searches.shift();
            }
            var parsed_obj = parsed_collection[0].saved_searches.reverse();
            var concat_obj = parsed_obj.concat(IONUX2.Collections.saveNames.toJSON()).reverse();
            IONUX2.Collections.saveNames.set(concat_obj);
          }
          IONUX2.Collections.recentSearches.set({
            'userId': IONUX2.Models.SessionInstance.attributes.user_id,
            'name':  name,
            'validUntil': IONUX2.Models.SessionInstance.attributes.valid_until,
            'configuration': {
              'spatialElem': $('#spatial').is(':visible'),
              'temporalElem': $('#temporal').is(':visible'),
              'orgSelectorElem': $('#orgSelector').is(':visible'),
              'siteElem': $('#site').is(':visible'),
              'platformTypesListElem': $('#platformTypesList').is(':visible'),
              'dataTypesListElem': $('#dataTypesList').is(':visible'),
              'boolean_expressionElem': $('#boolean_expression').is(':visible'),
              'instrumentElem': $('#instrument').is(':visible')
            },
            'bottom_config': IONUX2.Collections.saveAccordionConfig.toJSON(),
            'saved_searches': IONUX2.Collections.saveNames.toJSON()
          });
        });

        $('#resetBtn').on('click', function(){
          UINAV.disableMapEventHandling = true;
          IONUX2.clearSearchResults();

          // clear keyword
          $('#keywordIn').val("");

          // clear temporal
          $('#temporal select').val("0");

          // clear spatial
          var attribute = {};
          attribute["from_longitude"] = "";
          attribute["from_latitude"] = "";
          attribute["to_longitude"] = "";
          attribute["to_latitude"] = "";
          attribute["radius"] = "";
          IONUX2.Models.spatialModelInstance.updateAttributes(attribute);

          $("#southFm").val("");
          $("#westFm").val("");
          $("#northFm").val("");
          $("#eastFm").val("");
          $("#radiusFm").val("");
          $('#radius').val("");
          $('#lower').val("");

          // clear all checkboxes
          $('#searchTabContent').find('input').prop("checked", false);

          // clear boolean
          IONUX2.Views.boolean.render();
          UINAV.disableMapEventHandling = false;
        });
        
      });

      UINAV.disableMapEventHandling = false;



      IONUX2.openSpatialAccordion = function() {
        if(!UINAV.disableMapEventHandling){
          if($("#spatialElem").find('.leftAccordionContents').not(':visible')){
            $("#spatialElem").find('.accordionTitle').click();
          }
        }
      }

      function set_temporal_form(){

          var tYear = $("#tempFromYear").val();
          var tMonth = $("#tempFromMonth").val();
          var tDay = $("#tempFromDay").val();

          if(tYear.length > 0 && tMonth.length > 0 && tDay.length > 0){
            $("#tempFromFm").val(tYear + '-' + (parseInt(tMonth) + 1) + '-' + tDay);
          }

          var tYear2 = $("#tempToYear").val();
          var tMonth2 = $("#tempToMonth").val();
          var tDay2 = $("#tempToDay").val();

          if(tYear2.length > 0 && tMonth2.length > 0 && tDay2.length > 0){
            $("#tempToFm").val(tYear2 + '-' + (parseInt(tMonth2) + 1) + '-' + tDay2);
          }

          $("#temporal-field-ctrlFm").val($("#tempSelect").val());

      }

      function BD(criteria, depth) {
        if(depth == 0){
          return criteria;
        }
        depth--;
        var criteria_json = ["assop:associated", [ null,null, ["hasSite", "hasDevice", "hasDeployment", "hasPrimaryDeployment", "withinDeployment", "hasNetworkParent", "hasDataProducer"], "O", BD(criteria, depth)]];

        return criteria_json;
      }

      function BU(criteria, depth) {
        if(depth == 0){
          return criteria;
        }
        depth--;
        var criteria_json = ["assop:associated", [ null,null, ["hasSite", "hasDevice", "hasDataProducer"], "S", BU(criteria, depth)]];

        return criteria_json;
      }

        function search_clicked() {

          IONUX2.clearSearchResults();

          set_temporal_form();

          var form_values = $('#searchForm').serializeArray();
          form_values.splice(0, 0, {name:'adv', value:1});
          console.log("checking form values");
          if (form_values[form_values.length-1].value == 0) {
            form_values[form_values.length - 1].value = "";
          }
          console.log(form_values);
          var form_values_bool = $('#booleanForm').serializeArray();

          // switch into an object - much easier to access directly
          var formObj = _.object(_.map(form_values, function(v) {
            return [v.name, v.value];
          }));

          console.log(formObj);
          
          var search_sections = 0;
          var where_list = [];

          var full_url = '/test_query/';

          if(formObj['south'] != ''){
            search_sections++;
            if(formObj['radius'] != ''){
              // do point radius search
              GC = ["gop:within_geom", ["geom", "POINT(" + formObj['west'] + " " + formObj['south'] + ")", formObj['radius']]];
            } else {
              // do bbox search
              GC = ["gop:within", ["geom_loc", formObj['west'], formObj['north'], formObj['east'], formObj['south'],]];
            }
            GJ = ["exp:or",[GC,["assop:associated",[null,null,"hasResource","S",GC]]]];
            where_list.push(GJ);
          }

          var facilities = IONUX2.Models.searchParametersInstance.attributes.checkbox_sections['Facilities'];

          if((facilities) && (Object.keys(facilities).length > 0)){
            search_sections++;
            var facilityList = [];
            _.each(facilities, function(bool, name){
              facilityList.push(name);
            });
            FJ = ["exp:or", [["assop:associated", [null, null, "hasResource", "O", ["xop:in", ["id", facilityList]]]], ["exp:and", [["op:eq", ["type_", "Org"]], ["xop:in", ["id", facilityList]]]]]];
            where_list.push(FJ);
          }

          var observatories = IONUX2.Models.searchParametersInstance.attributes.checkbox_sections['Observatories'];

          if((observatories) && (Object.keys(observatories).length > 0)){
            search_sections++;
            var OL = [];
            var ONL = [];
            var FNL = [];
            _.each(observatories, function(val, name){
              if(typeof val === 'boolean'){
                OL.push(name);
              } else {
                FNL.push(val.facility);
                console.log("spatial area names:" + val.excludingSpatialAreaNames);
                excludingSpatialAreaNames = val.excludingSpatialAreaNames.split(',');
                _.each(excludingSpatialAreaNames, function(spatialAreaName){
                  ONL.push(spatialAreaName.trim());
                });
              }
            });

            var OJ = [];

            if(OL.length > 0){
              var OC = ["xop:in", ["spatial_area_name", [OL]]];

              OJ = ["exp:or", [["assop:associated", [null, null, "hasResource", "S", OC]], BD(OC, 1), BD(OC, 2), BD(OC, 3), BD(OC, 4), ["assop:associated", [null, null, "hasSource", "S", BD(OC, 1)]], ["assop:associated", [null, null, "hasSource", "S", BD(OC, 2)]], ["assop:associated", [null, null, "hasSource", "S", BD(OC, 3)]], ["assop:associated", [null, null, "hasSource", "S", BD(OC, 4)]], ["exp:and", [["op:eq", ["type_", "Observatory"]], OC]]]];
            } else {
              OJ = [];
            }

            if(FNL.length > 0){
              console.log(ONL);
              FNC = ["exp:and",[["op:eq",["type_", "Org"]], ["xop:in", ["name", [FNL]]]]];
              ONC = ["xop:in", ["spatial_area_name", [ONL]]];
              ONJ = ["exp:and", [["exp:or", [["assop:associated", [null, null, "hasResource", "O", FNC]], ["exp:and", [["op:eq", ["type_", "Org"]], FNC]]]], ["exp:not", [["exp:or", [ BD(ONC, 1), BD(ONC, 2), BD(ONC, 3), BD(ONC, 4), ["assop:associated", [null, null, ["hasSource"], "S", BD(ONC, 1)]], ["assop:associated", [null,null, ["hasSource"], "S", BD(ONC, 2)]], ["assop:associated", [null, null, ["hasSource"], "S", BD(ONC, 3)]], ["assop:associated", [null, null, ["hasSource"], "S", BD(ONC, 4)]], ["exp:and", [["op:eq", ["type_", "Observatory"]], ONC]]]]]]]];

              if(OL.length > 0){
                OJ = ["exp:or",[ONJ, OJ]];
              } else {
                OJ = ONJ;
              }
              where_list.push(OJ);
            }
          }

          var sites = IONUX2.Models.searchParametersInstance.attributes.checkbox_sections['Sites'];

          if((sites) && (Object.keys(sites).length > 0)){
            search_sections++;
            var SL = [];
            _.each(sites, function(val, name){
              SL.push(name);
            });

            var SJ = [];

            if(SL.length > 0){
              var SC = ["xop:in", ["id", [SL]]];

              SJ = ["exp:or", [["assop:associated", [null, null, "hasResource", "S", SC]], BD(SC, 1), BD(SC, 2), BD(SC, 3), BD(SC, 4), ["assop:associated", [null, null, "hasSource", "S", BD(SC, 1)]], ["assop:associated", [null, null, "hasSource", "S", BD(SC, 2)]], ["assop:associated", [null, null, "hasSource", "S", BD(SC, 3)]], ["assop:associated", [null, null, "hasSource", "S", BD(SC, 4)]], ["exp:and", [["op:eq", ["type_", "Observatory"]], SC]]]];
            } else {
              SJ = [];
            }
            where_list.push(SJ);
          }

          var dataTypes = IONUX2.Models.searchParametersInstance.attributes.checkbox_sections['Data Types'];

          if((dataTypes) && (Object.keys(dataTypes).length > 0)){
            search_sections++;
            var DL = [];
            _.each(dataTypes, function(val, name){
              DL.push(name);
            });

            var DJ = [];

            if(DL.length > 0){
              var DC = ["exp:and",[["op:eq", ["type_", "DataProduct"]],["xop:in", ["ooi_product_name", DL]]]];
              var DCS = ["assop:associated",[null,null,["hasSite", "hasDevice", "hasDeployment", "hasPrimaryDeployment", "withinDeployment", "hasNetworkParent", "hasDataProducer", "hasSource"],"O",DC]];
              
              DJ = ["exp:or",[DC,["assop:associated",[null,null,"hasResource","S",DC]],["exp:or",[DCS, BU(DCS, 1), BU(DCS, 2), BU(DCS, 3),["assop:associated",[null,null,["hasDeployment", "hasPrimaryDeployment", "withinDeployment"],"O",DCS]]]]]];
            } else {
              DJ = [];
            }
            where_list.push(DJ);
          }

          var query_json = {};

          if(search_sections > 1){
            query_json = {"QUERYEXP": "qexp_v1.0", "query_args":{"datastore": "resources", "id_only": false, "limit": 0, "profile": "RESOURCES", "skip": 0}, "where":["exp:and",where_list], "order_by": {}};
          } else {
            query_json = {"QUERYEXP": "qexp_v1.0", "query_args":{"datastore": "resources", "id_only": false, "limit": 0, "profile": "RESOURCES", "skip": 0}, "where":where_list[0], "order_by": {}};
          }

          $.ajax({
              type: 'POST',
              contentType: 'application/json',
              data: JSON.stringify({payload: query_json}),
              dataType: 'json',
              url: '/test_query/',
              global: false,
              success: function(response) {
                  make_iso_timestamps(response);
                  IONUX2.parseSearchResults(response.data);
              }
          });

          return;

          // normalize into "down" facing vertical if switched to up
          if (this.$('.vertical-bounds-positive').hasClass('toggle_sealevel_passive')) {
            if (formObj['vertical-lower-bound']) {
              formObj['vertical-lower-bound'] = -formObj['vertical-lower-bound'];
            }
            if (formObj['vertical-upper-bound']) {
              formObj['vertical-upper-bound'] = -formObj['vertical-upper-bound'];
            }
            if (formObj['vertical-upper-bound'] < formObj['vertical-lower-bound']) {
              var tmp = formObj['vertical-upper-bound'];
              formObj['vertical-upper-bound'] = formObj['vertical-lower-bound'];
              formObj['vertical-lower-bound'] = tmp;
            }
          }

          //Error checking advanced search input params
          function check_Vals() {

            var bValid = true;
            var errorString = '';

            if($('.latLongMenu').val() == "1"){
              //Check geospatial bounds (all or none)
              var all = form_values[1].value !== '' && form_values[2].value !== '' &&
                + form_values[3].value !== '' && form_values[4].value !== '';

              var none = form_values[1].value == '' && form_values[2].value == '' &&
                + form_values[3].value == '' && form_values[4].value == '';

              if (!(all || none)){
                errorString += 'Error in GEOSPATIAL BOUNDS:\nPartially filled form\n';
                bValid = false;
              }
            } else {
              //Check radial form (center point and radius)
              var all =  form_values[2].value !== '' &&
                + form_values[4].value !== '';

              var none =  form_values[2].value == '' &&
                +  form_values[4].value == '';

              if (!(all || none)){
                errorString += 'Error in Radial Point:\nPartially filled form\n';
                bValid = false;
              }

              if(form_values[10].value == '' || form_values[10].value.length == 0){
                if (!(all || none)){
                  errorString += 'Error in Radius Value:\nPartially filled form\n';
                  bValid = false;
                }
              }
            }

            //Check vertical bounds (all or none)
            var all_or_none = (form_values[5].value !== '' && form_values[6].value !== '') ||
              + (form_values[5].value == '' && form_values[6].value == '');

            if (!all_or_none){
              errorString += 'Error in VERTICAL BOUNDS:\nPartially filled form\n';
              bValid = false;
            }

            //Check temporal bounds (all or none)
            all_or_none = (form_values[7].value !== '' && form_values[8].value !== '') ||
              + (form_values[7].value == '' && form_values[8].value == '');

            if (!all_or_none){
              errorString += 'Error in TEMPORAL BOUNDS:\nPartially filled form\n';
              bValid = false;
            }

            if (!bValid){
              self.alert(errorString)
            }

            return bValid;
          }

          //Check input values
          var bValid = check_Vals();
          if (!bValid){
            return;
          }

          var search_term = $.param(form_values);

          var search_term2 = $.param(form_values_bool);

          search_term = search_term + '&' + search_term2;

          console.log('SEARCH CLICKED...' + search_term);

          IONUX.ROUTER.navigate('/search/?'+ search_term, {trigger:true});

        }

    </script>
