<div id="saveButtons">
 <button id="saveSearch" class="textRight">Save this Search</button><button id="searchBtn" class="textRight">Search</button>
</div>
<div id="customSearchName"><input class="customName" type="text" placeholder="Name" /><button id="saveName" class="textRight">Save</button></div>
<div class="accordionContainer">
  <article class="leftAccordion accordion_fixed" id="keyword">
    <div class="accordionLabel">Keyword</div>
    <input class="keyword" type="text" placeholder="Keyword" style="display:inline-block;"/>
  </article>
</div>

<form id="searchForm">
  <input type="hidden" name="north" id="northFm"/>
  <input type="hidden" name="south" id="southFm"/>
  <input type="hidden" name="east" id="eastFm"/>
  <input type="hidden" name="west" id="westFm"/>
  <input type="hidden" name="vertical-lower-bound" id="lowerFm"/>
  <input type="hidden" name="vertical-upper-bound" id="upperFm"/>
  <input type="hidden" name="temporal-from-ctrl"  id="tempFromFm"/>
  <input type="hidden" name="temporal-to-ctrl" id="tempToFm"/>
  <input type="hidden" name="temporal-field-ctrl" id="temporal-field-ctrlFm"/>
  <input type="hidden" name="radius" id="radiusFm"/>
</form>

<script type="text/template" id="block_data_type_list_tmpl">{% include 'block_data_type_list2.html' %}</script>
<script type="text/template" id="filter-item-tmpl">{% include 'block_boolean2.html' %}</script>
    
    <script>
		IONUX2.Views.DataTypesList = Backbone.View.extend({
			el: '#dataTypesList',
			template: _.template($('#block_data_type_list_tmpl').html()),
      events: {
        'click .checkAllTypes': 'select_all_types'
      },
			initialize: function() {
				this.model.on('change:data', this.render, this);
			},
      select_all_types: function(e) {
        var $check = $(e.currentTarget);
        if ($check.is(':checked')) {
          $('.listDataTypes').find('input').prop('checked', true);
        }
        else {
          $('.listDataTypes').find('input').prop('checked', false);
        }
      },
			render: function() {
				this.$el.html(this.template({resources: this.model.data}));
				return this;
			}
		});	
		
      $(function(){
        IONUX2.Views.leftAccordion = new IONUX2.Views.LeftAccordion();

        var accordions = {
          'spatial': {
              title: 'Spatial',
              id: 'spatial'
          },
          'temporal': {
            title: 'Temporal',
            id: 'temporal'
          },
          'facility': {
            title: 'Facility',
            id: 'orgSelector'
          },
          'region': {
            title: 'Region',
            id: 'region'
          },
          'sites': {
            title: 'Sites',
            id: 'site'
          },
          'platform': {
            title: 'Platform',
            id: 'platform'
          },
          'instrument': {
            title: 'Instrument',
            id: 'instrument'
          },
          'dataType': {
            title: 'Data Type',
            id: 'dataTypesList'
          },
          'booleanExpression': {
            title: 'Boolean Expression',
            id: 'boolean_expression'
          }
        };

        for (var accordion in accordions) {
          IONUX2.Views.leftAccordion.addAccordion(accordions[accordion].title, accordions[accordion].id);
        }

        IONUX2.Views.spatial = new IONUX2.Views.Spatial({model: IONUX2.Models.spatialModelInstance});
        IONUX2.Views.temporal = new IONUX2.Views.Temporal({model: IONUX2.Models.temporalModelInstance});
        IONUX2.Views.RegionList = new IONUX2.Views.Region({collection: IONUX2.Dashboard.Observatories });
        IONUX2.Views.SitesList = new IONUX2.Views.Sites({collection: IONUX2.Dashboard.Observatories });
		    IONUX2.Models.DataTypeListInstance = new IONUX2.Models.DataTypeList();
		    IONUX2.Views.DataTypesListInstance = new IONUX2.Views.DataTypesList({model: IONUX2.Models.DataTypeListInstance });
		    IONUX2.Models.DataTypeListInstance.fetch();
		    IONUX2.Collections.OrgsInstance = new IONUX2.Collections.Orgs();
		    IONUX2.Views.OrgSelectorInstance = new IONUX2.Views.OrgSelector({collection: IONUX2.Collections.OrgsInstance});
		    IONUX2.Collections.OrgsInstance.fetch();

        $('.leftAccordionContents').hide();
        $('.accordionContainer').sortable({
          items: "article:not(.accordion_fixed)"
        });
        $('.accordionContainer').jScrollPane({autoReinitialise: true});
        
      });

    </script>
