            <div id="left">
              <div class="map-view" style="display:none;">
                <div id="observatory-selector" class=""> </div>
                <h3 id="map-filter-heading">Filter</h3>
                <div id="map-asset-data-menu" class="" style=""> </div>
                <div id="map-data-filter" class="dataproduct-mode"> </div>
                <div id="map-filter" class="asset-mode" style="display:none;"> </div>
              </div> <!-- .map-view -->
              
              <div class="resources-view" style="display:none;">
                <div id="org-selector" class="resources-view" style=""> </div>
                <div id="list-filter" class="resources-view" style=""> </div>
              </div> <!-- .resources-view -->
              
              <div class="nsf-ol">
                <div class="logos">
                  <div class="nsf"> </div>
                  <div class="ol"> </div>
                </div>
                <div class="about">
                  Funding for the <a href="http://www.oceanobservatories.org/" target="OOI">Ocean Observatories Initiative</a> is provided by the <a href="http://www.nsf.gov" target="NSF">National Science Foundation</a> through a Cooperative Agreement with the <a href="http://www.oceanleadership.org/" target="COL">Consortium for Ocean Leadership</a>.
                </div>
              </div>
            </div>

<script>
  $(function(){
  });
</script>
              
              
