<div class="select_all">
	<input class="checkAllTypes" type="checkbox"/> Select All
</div>
<form id="dataTypeForm">
<div class="listDataTypes">
        <% _.each(resources, function(name) { %>
            <input type="checkbox" name="<%= name %>"/><span> <%= name %></span><br/>
        <% }) %>
</div>
</form>
<script type="text/javascript">
var numDataTypes = 0;
$('.listDataTypes input').each(function(index) {
	$(this).on('click', function(e) {
		var checked_val = $(this).attr('name');
		if ($(this).is(':checked')) {
			numDataTypes++;
			var numFilters = $('.filter-add').length;
			$('.booleanInput').eq(numFilters-1).val(checked_val);
			$('.filter-add').eq(numFilters-1).click();
		}
		else {
			numDataTypes--;
			var inputList = [];
			$('.booleanInput').each(function(item) {
				inputList.push($(this).val());
			});
			for (var i=0; i<inputList.length; i++) {
				if ($(this).attr('name') == inputList[i]) {
					$('.filter-remove').eq(i).click();
				}
			}
		}
	});
});
</script>
	