<div class="select_all">
    <input class="checkAllPlatformTypes" type="checkbox"/> Select All
</div>
<form id="platformTypeForm">
<div class="listPlatformTypes">
    
            <input class="resource_id" type="checkbox" name="AUV" /> AUV<br/>
            <input class="resource_id" type="checkbox" name="Cable Infrastructure" /> Cable Infrastructure<br/>
            <input class="resource_id" type="checkbox" name="Cable Node" /> Cable Node<br/>
            <input class="resource_id" type="checkbox" name="Camera" /> Camera<br/>
            <input class="resource_id" type="checkbox" name="Engineering" /> Engineering<br/>
            <input class="resource_id" type="checkbox" name="Glider" /> Glider<br/>
            <input class="resource_id" type="checkbox" name="Mobile Asset Dock" /> Mobile Asset Dock<br/>
            <input class="resource_id" type="checkbox" name="Mooring" /> Mooring<br/>
            <input class="resource_id" type="checkbox" name="Profiler" /> Profiler<br/>
</div>
 </form>
<script>
    $('.checkAllPlatformTypes').on('click', function(){
        $('.listPlatformTypes').find('input').prop("checked", $('.checkAllPlatformTypes').prop("checked"));
    });
    $('.listPlatformTypes input[type="checkbox"]').each(function(index) {
    $(this).on('click', function(e) {
        var checked_val = $(this).attr('name');
        if ($(this).is(':checked')) {
            numDataTypes++;
            var numFilters = $('.filter-add').length;
            $('.booleanInput').eq(numFilters-1).val(checked_val);
            $('.filter-add').eq(numFilters-1).click();
        }
        else {
            numDataTypes--;
            var inputList = [];
            $('.booleanInput').each(function(item) {
                inputList.push($(this).val());
            });
            for (var i=0; i<inputList.length; i++) {
                if ($(this).attr('name') == inputList[i]) {
                    $('.filter-remove').eq(i).click();
                }
            }
        }
    });
});
</script>
<!-- Dont forget to modify the below to match platformTypes -->
<!-- <script>
    $(function(){
        $(".list_sites .resourceLink").click(function(){
            var resource_id = $(this).attr('data-id');
            var url = "/Observatory/face/"+resource_id+"/";
            IONUX.ROUTER.navigate(url, {trigger:true});
            $('#mapButtonHidden').click();
        });
    });
</script> -->