<div id="createResourceOverlay">

    <form class="form-horizontal">
        <div id="formContainer">
            <div id="formInnerContainer">
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls" id="nameField">
                        <input type="text">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="software">Software</label>
                    <div class="controls" id="softwareList"></div>
                </div>
                <div class="submitFooter">
                    <button id="" class="adminButtonBlue btn-save">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

// value and name pairs for software select menu
var softwareMenu = [
        {'value':'DataProcessDefinition', 'name':'Data Product Algorithm'},
        {'value': 'ExternalDatasetAgentInstance', 'name': 'Dataset Agent Driver Instance'},
        {'value': 'ExternalDatasetAgent', 'name': 'Dataset Agent Driver'},
        {'value': 'InstrumentAgentInstance', 'name': 'Instrument Agent Driver Instance'},
        {'value': 'InstrumentAgent', 'name': 'Instrument Agent Driver'},
        {'value': 'PlatformAgentInstance', 'name': 'Platform Agent Driver Instance'},
        {'value': 'PlatformAgent', 'name': 'Platform Agent Driver'}];

// add data from softwareMenu to software collection
IONUX2.Collections.Software = Backbone.Collection.extend({});
IONUX2.Collections.softwareInstance = new IONUX2.Collections.Software();
IONUX2.Collections.softwareInstance.set(softwareMenu);

// create and render the software view passing in the software id
IONUX2.Views.softwareMenu = new IONUX2.Views.FormSelectMenu({el: '#softwareList', collection: IONUX2.Collections.softwareInstance});

</script>