    <form class="form-horizontal">
        <div id="formContainer">
            <div id="formInnerContainer">
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls" id="nameField">
                        <input type="text">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="date">Date</label>
                    <div class="controls" id="dateField">
                        <input type="date">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">Email</label>
                    <div class="controls" id="emailField">
                        <input type="email">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="software">Software</label>
                    <div class="controls" id="softwareList">
                        <div class="formSelectContainer">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="checkboxes">Checkboxes</label>
                    <div class="controls alignSelection" id="checkboxList">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="checkboxes">Radio Buttons</label>
                    <div class="controls alignSelection" id="radioButtonList">
                    </div>
                </div>
                <div class="buttonFooter">
                    <button id="" class="adminButtonBlue btn-save">Submit</button>
                </div>
            </div>
        </div>
    </form>
<script type="text/javascript">

// value and name pairs for software select menu
var softwareMenu = [
        {'value':'DataProcessDefinition', 'name':'Data Product Algorithm'},
        {'value': 'ExternalDatasetAgentInstance', 'name': 'Dataset Agent Driver Instance'},
        {'value': 'ExternalDatasetAgent', 'name': 'Dataset Agent Driver'},
        {'value': 'InstrumentAgentInstance', 'name': 'Instrument Agent Driver Instance'},
        {'value': 'InstrumentAgent', 'name': 'Instrument Agent Driver'},
        {'value': 'PlatformAgentInstance', 'name': 'Platform Agent Driver Instance'},
        {'value': 'PlatformAgent', 'name': 'Platform Agent Driver'}];

var checkboxMenu = [
        {'value': 'Selection1', 'name': 'Selection 1'},
        {'value': 'Selection2', 'name': 'Selection 2'},
        {'value': 'Selection3', 'name': 'Selection 3'}];

var radioButtonMenu = [
        {'value': 'Selection1', 'name': 'radioGroup'},
        {'value': 'Selection2', 'name': 'radioGroup'},
        {'value': 'Selection3', 'name': 'radioGroup'}];

// add data from softwareMenu to software collection
IONUX2.Collections.Software = Backbone.Collection.extend({});
IONUX2.Collections.softwareInstance = new IONUX2.Collections.Software();
IONUX2.Collections.softwareInstance.set(softwareMenu);

// add data from checkboxMenu to checkbox collection
IONUX2.Collections.Checkboxes = Backbone.Collection.extend({});
IONUX2.Collections.checkboxInstance = new IONUX2.Collections.Checkboxes();
IONUX2.Collections.checkboxInstance.set(checkboxMenu);

// add data from checkboxMenu to checkbox collection
IONUX2.Collections.RadioButtons = Backbone.Collection.extend({});
IONUX2.Collections.radioButtonInstance = new IONUX2.Collections.RadioButtons();
IONUX2.Collections.radioButtonInstance.set(radioButtonMenu);

// create and render the software view passing in the software id
IONUX2.Views.softwareMenu = new IONUX2.Views.FormSelectMenu({el: '#softwareList .formSelectContainer', collection: IONUX2.Collections.softwareInstance});

// create and render the checkbox view passing in the checkbox id
IONUX2.Views.checkboxMenu = new IONUX2.Views.FormCheckboxMenu({el: '#checkboxList', collection: IONUX2.Collections.checkboxInstance});

// create and render the radio button view passing in the radio button id
IONUX2.Views.radioButtonMenu = new IONUX2.Views.FormRadioButtonMenu({el: '#radioButtonList', collection: IONUX2.Collections.checkboxInstance});

</script>