<div id="formContainer">
    <div id="formInnerContainer">
        <div class="control-group">
            <label class="control-label" for=""></label>
            <div class="controls" id="softwareList"></div>
        </div>
        <div class="submitFooter">
            <button id="" class="adminButtonBlue btn-save"></button>
        </div>
    </div>
</div>

<script type="text/javascript">

var softwareMenu = [
        {'value':'DataProcessDefinition', 'name':'Data Product Algorithm'},
        {'value': 'ExternalDatasetAgentInstance', 'name': 'Dataset Agent Driver Instance'},
        {'value': 'ExternalDatasetAgent', 'name': 'Dataset Agent Driver'},
        {'value': 'InstrumentAgentInstance', 'name': 'Instrument Agent Driver Instance'},
        {'value': 'InstrumentAgent', 'name': 'Instrument Agent Driver'},
        {'value': 'PlatformAgentInstance', 'name': 'Platform Agent Driver Instance'},
        {'value': 'PlatformAgent', 'name': 'Platform Agent Driver'}];

IONUX2.Collections.Software = Backbone.Collection.extend({});
IONUX2.Collections.softwareInstance = new IONUX2.Collections.Software();
IONUX2.Collections.softwareInstance.set(softwareMenu);

IONUX2.Views.softwareMenu = new IONUX2.Views.FormMenu({el: '#softwareList', collection: IONUX2.Collections.softwareInstance});

/*var controlGroup = {
    'labelFor': '',
    'selectId': '',
    'selectName': '',
    'selectSize': 0,
    'optionValue': ''
}*/
</script>