<!DOCTYPE HTML>
<!-- filename ion_ux3.html proto=ion_ux2.html
last edited 04-13 04-09 03-05 2014-03-02
-->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>OOINet</title>

    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    {% block inherit_css %}

    <link rel="stylesheet" href="/static/bootstrap/less/bootstrap.min.css" type="text/css" />
    <link rel='stylesheet' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/black-tie/jquery-ui.css' />
    <link rel="stylesheet" href="/static/css/jscrollpane.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Signika:300,400,600,700' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700' rel='stylesheet' type='text/css' />

    <link rel="stylesheet/less" class="salt" href="/static/css/salt_images.less" />
    <link rel="stylesheet" type="text/css" href="/static/css/salt.css"/>
    {% endblock %}

    {% block extra_css %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="/static/css/ooinetLayout04.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/ooinetAppearance04.css"/>

</head>

<body>
	<div id="header2" align="left"></div>
	<div id="leftSubheader" align="left">
    </div>
	<div id="mainSubheader" align="left">
        <div id="search-production"> 
            <div class="mapButtonFull" title="Full Map View"></div>
            <div class="mapButtonSplit" title="Split View"></div>
            <div class="mapButtonHidden" title="Hidden Map View"></div>
        </div></div>

    <div id="left2">
        <div id="searchTabContent"></div>
        <div id="mySearchesTabContent" style="display:none;">
        <ul class="list_mysearches">
            <!--<li><a href="#">Search 1 <span class="date_mysearches">04/28/2014</span></a></li>
            <li><a href="#">Search 2 <span class="date_mysearches">04/27/2014</span></a></li>
            <li><a href="#">Search 3 <span class="date_mysearches">04/26/2014</span></a></li>-->
        </ul>
        </div>
    </div>
    <div id="main">
       <div id="upperMain">
	   </div>
	   <div id="lowerMain">
	   </div>
	</div>

    {% block inherit_templates %} {% endblock %}

    {% block extra_templates %}
        <script type="text/template" id="datatable-tmpl">{% include 'partials/datatable.html' %}</script>
    {% endblock %}
    
    {% block inherit_vendor_js %}
    <!-- Vendor JavaScripts -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCcEp2hQdftRhaYgonh1Vyv0JYi5KVvFI&amp;sensor=false&amp;libraries=drawing"> </script>
    <script src="/static/js/jquery-1.9.1.min.js"> </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type='text/javascript' src='http://www.google.com/jsapi'> </script>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1'}]}"> </script>
    <script src="/static/visualization/js/markerclusterer.js"> </script>
            
    <script src="/static/js/underscore-1.4.4.min.js "> </script>
    <script src="/static/js/backbone-1.0.min.js"> </script>
    <script src="/static/js/bootstrap.min.js"> </script>
    <script src="/static/js/backbone.bootstrap-modal.js"> </script>
    <script src="/static/js/less-1.3.3.min.js"> </script>
    <script src="/static/js/jquery.dataTables-1.9.3.js"> </script>
    <script src="/static/js/jquery.dataTables-api-extensions.js"> </script>
    <script src="/static/js/jquery.jscrollpane.min.js"> </script>
    {% endblock %}

    {% block extra_vendor_js %}{% endblock %}

    <!-- UX JavaScripts --> 
    {% block inherit_ionux_js %} {% endblock %}

    <script src="/static/js/ion_ux2.js"> </script>    
    <script src="/static/js/ux_bootstrap_models2.js"> </script>
    <script src="/static/js/ux_bootstrap_views2.js"> </script>
    <script src="/static/js/ux-models-map2.js"> </script>
    <script src="/static/js/ux-views-map2.js"> </script>
    <script src="/static/js/ux-views-datatable2.js"></script>

    {% block extra_ionux_js %}
    {% endblock %}

        
    <script>
      $(function(){
        IONUX2.init();

        $(".mapButtonFull").click(function(){
            var center = IONUX2.Dashboard.MapView.map.getCenter();
            var zoom = IONUX2.Dashboard.MapView.map.getZoom();
            $("#upperMain").css("height", "100%");
            $("#lowerMain").css("height", "0%");
            $("#lowerMain").css("top", "100%");
            $(window).trigger('resize');
            IONUX2.Dashboard.MapView.draw_map();
            IONUX2.Dashboard.MapView.map.setCenter(center);
            IONUX2.Dashboard.MapView.map.setZoom(zoom);
            IONUX2.Dashboard.MapView.draw_markers();
        });

        $(".mapButtonSplit").click(function(){
            var center = IONUX2.Dashboard.MapView.map.getCenter();
            var zoom = IONUX2.Dashboard.MapView.map.getZoom();
            $("#upperMain").css("height", "60%");
            $("#lowerMain").css("height", "40%");
            $("#lowerMain").css("top", "60%");
            $(window).trigger('resize');
            IONUX2.Dashboard.MapView.draw_map();
            IONUX2.Dashboard.MapView.map.setCenter(center);
            IONUX2.Dashboard.MapView.map.setZoom(zoom);
            IONUX2.Dashboard.MapView.draw_markers();
            /*IONUX2.Dashboard.MapView.map.checkResize();
            IONUX2.Dashboard.MapView.map.setCenter(center);
            IONUX2.Dashboard.MapView.map.setZoom(zoom);
            IONUX2.Dashboard.MapView.markerClusterer.setMap(null);
            IONUX2.Dashboard.MapView.markerClusterer.setMap(IONUX2.Dashboard.MapView.map);*/
        });
        
        $(".mapButtonHidden").click(function(){
            var center = IONUX2.Dashboard.MapView.map.getCenter();
            var zoom = IONUX2.Dashboard.MapView.map.getZoom();
            $("#upperMain").css("height", "0%");
            $("#lowerMain").css("height", "100%");
            $("#lowerMain").css("top", "0%");
            $(window).trigger('resize');
            IONUX2.Dashboard.MapView.draw_map();
            IONUX2.Dashboard.MapView.map.setCenter(center);
            IONUX2.Dashboard.MapView.map.setZoom(zoom);
            IONUX2.Dashboard.MapView.draw_markers();
            /*IONUX2.Dashboard.MapView.map.checkResize();
            IONUX2.Dashboard.MapView.map.setCenter(center);
            IONUX2.Dashboard.MapView.map.setZoom(zoom);
            IONUX2.Dashboard.MapView.markerClusterer.setMap(null);
            IONUX2.Dashboard.MapView.markerClusterer.setMap(IONUX2.Dashboard.MapView.map);*/
        });


        IONUX2.Views.mySearches = new IONUX2.Views.MySearches({collection: IONUX2.Collections.saveNames});

        

        // update accordion views with saved data
        
         function reorder(orderArray, elementContainer) {
            $.each(orderArray, function(key, val){
                console.log("value is " + val);
                elementContainer.append($("#"+val));
            });
        }

        console.log("user id is " + IONUX2.Models.SessionInstance.attributes.user_id);        
        
        // initializing new view with custom search name when My Searches tab is open
        $('#mySearchesTab').on('click', function(e) {
            e.preventDefault();
            //if (IONUX2.Models.saveCustomName.attributes.name !== "") {
                IONUX2.Views.mySearches.render();
                //IONUX2.Views.mySearches = new IONUX2.Views.MySearches({collection: IONUX2.Collections.saveNames});
                //IONUX2.Views.mySearches = new IONUX2.Views.MySearches({model: IONUX2.Models.saveCustomName});
            //}
            
            $('.list_mysearches a').each(function(index) {
                //var searchModel = IONUX2.Collections.saveNames.at(index);
                //var body = JSON.stringify(searchModel);

                /*$.ajax({
                    async: false,
                    type: "POST",
                    url: '/profile/' + IONUX2.Models.SessionInstance.attributes.user_id + '/',
                    data: {data: body},
                        success: function(data) {
                            console.log(data);
                        },
                        dataType: 'json',
                        contentType: 'application/x-www-form-urlencoded'
                });*/
                $(this).on('click', function(e) {

                    e.preventDefault();
                    var searchModel = IONUX2.Collections.saveNames.at(index);
                    //var body = JSON.stringify(searchModel);

                    //var searches = JSON.stringify(searchModel);
                    //IONUX2.Models.ProfileInstance.attributes.saveNames = searches;


                     /*$.ajax({
                        async: false,
                        type: "GET",
                        url: '/profile/' + IONUX2.Models.SessionInstance.attributes.user_id + '/',
                        success: function(data) {
                            console.log("getting json saved search data from server");
                            console.log(data);
                            populateSearch(data);
                        },
                        dataType: 'json',
                        contentType: 'application/x-www-form-urlencoded'
                    });*/


                    //function populateSearch(search_info) {
                        //console.log(search_info[index].data);
                        //var searchModel = JSON.parse(search_info.data);
                        /*var spatialModel = searchModel.spatial;
                        var temporalModel = searchModel.temporal,
                            facilitiesModel = searchModel.facilities,
                            regionsModel = searchModel.regions,
                            sitesModel = searchModel.sites,
                            dataTypesModel = searchModel.dataTypes;
                            var sortableOrder = searchModel.sortableOrder;*/

                        var $accordion_container = $('.jspPane');
                    
                    var spatialModel = searchModel.attributes.spatial,
                        temporalModel = searchModel.attributes.temporal,
                        facilitiesModel = searchModel.attributes.facilities,
                        regionsModel = searchModel.attributes.regions,
                        sitesModel = searchModel.attributes.sites,
                        dataTypesModel = searchModel.attributes.dataTypes,
                        sortableOrder = searchModel.attributes.sortableOrder

                        reorder(sortableOrder.sortable_order, $accordion_container);
                    

                    // populate spatial module with saved data
                        (function() {
                            if (spatialModel.spatial_accordion_visible) {
                                $('#spatial .spatialDetails').show();
                            }
                            else {
                                $('#spatial .expandHide').removeClass('arrowDown').addClass('arrowRight');
                                $('#spatial .spatialDetails').hide();
                            }
            
                            $('.latLongMenu option[value="' + spatialModel.spatial_dropdown + '"]').attr('selected', 'selected');
                            $('#south').val(spatialModel.from_latitude),
                            $('.from_ns option[value="' + spatialModel.from_ns + '"]').attr('selected', 'selected');
                        $('#west').val(spatialModel.from_longitude),
                        $('.from_ew option[value="' + spatialModel.from_ew + '"]').attr('selected', 'selected');
                        $('.placeholder_lat').val(spatialModel.to_latitude),
                        $('.north_south_menu option[value="' + spatialModel.to_ns + '"]').attr('selected', 'selected');
                        $('.show_hide_longitude').val(spatialModel.to_longitude),
                        $('.to_ew option[value="'+ spatialModel.to_ew + '"]').attr('selected', 'selected');
                        $('.no_placeholder_radius').val(spatialModel.radius),
                        $('.milesKilosMenu').val(spatialModel.miles_kilos),
                        $('[data-verticalfrom]').val(spatialModel.vertical_from),
                        $('[data-verticalto]').val(spatialModel.vertical_to),
                        $('.feet_miles option[value="' + spatialModel.feet_miles + '"]').attr('selected', 'selected');
                        })();

                    // populate temporal module with saved data
                        (function() {
                        if (temporalModel.temporal_accordion_visible) {
                            $('#temporal .spatialDetails').show();
                        }
                        else {
                            $('#temporal .expandHide').removeClass('arrowDown').addClass('arrowRight');
                            $('#temporal .spatialDetails').hide();
                        }
                
                    $('.temporal_menu option[value="' + temporalModel.temporal_dropdown + '"]').attr('selected', 'selected');
                    $('.from_date_menu .year option[value="' + temporalModel.from_year + '"]').attr('selected', 'selected');
                    $('.from_date_menu .month option[value="' + temporalModel.from_month + '"]').attr('selected', 'selected');
                    $('.from_date_menu .day option[value="' + temporalModel.from_day + '"]').attr('selected', 'selected');
                    $('.from_date_menu .hour option[value="' + temporalModel.from_hour + '"]').attr('selected', 'selected');
                    $('.to_date_menu .year option[value="' + temporalModel.to_year + '"]').attr('selected', 'selected');
                    $('.to_date_menu .month option[value="' + temporalModel.to_month + '"]').attr('selected', 'selected');
                    $('.to_date_menu .day option[value="' + temporalModel.to_day + '"]').attr('selected', 'selected');
                    $('.to_date_menu .hour option[value="' + temporalModel.to_hour + '"]').attr('selected', 'selected');
                    })();

                    (function() {
                        /*if (facilitiesModel[0].facility_accordion_visible) {
                            $('#orgSelector .spatialDetails').show();
                        }
                        else {
                            $('#orgSelector .expandHide').removeClass('arrowDown').addClass('arrowRight');
                            $('#orgSelector .spatialDetails').hide();
                        }*/
                        $('.list_facilities input').each(function(index) {
                            $(this).prop('checked', facilitiesModel[index].is_checked);
                        });
                    })();

                    (function() {
                        if (regionsModel[0].region_accordion_visible) {
                            $('#region .spatialDetails').show();
                        }
                        else {
                            $('#region .expandHide').removeClass('arrowDown').addClass('arrowRight');
                            $('#region .spatialDetails').hide();
                        }
                        $('.list_regions input').each(function(index) {
                            $(this).prop('checked', regionsModel[index].is_checked);
                        });
                    })();

                    (function() {
                        if (sitesModel[0].sites_accordion_visible) {
                            $('#site .spatialDetails').show();
                        }
                        else {
                            $('#site .expandHide').removeClass('arrowDown').addClass('arrowRight');
                            $('#site .spatialDetails').hide();
                        }
                        $('.list_sites input').each(function(index) {
                            $(this).prop('checked', sitesModel[index].is_checked);
                        });
                    })();

                    (function() {
                        if (dataTypesModel[0].datatype_accordion_visible) {
                            $('#dataTypesList .spatialDetails').show();
                        }
                        else {
                            $('#dataTypesList .expandHide').removeClass('arrowDown').addClass('arrowRight');
                            $('#dataTypesList .spatialDetails').hide();
                        }
                        $('.listDataTypes input').each(function(index) {
                            $(this).prop('checked', sitesModel[index].is_checked);
                        });
                    })();

                $('#searchTab').trigger('click');
                //}
                });
            });
            
        });

        
        
      });
      {% block document_ready %}
      {% endblock %}
    </script>
</body>
</html>
