<div class="select_all">
    <input class="checkAllObservatories" type="checkbox"/> Select All 
    <div class="expandAll observatoryExpander">+</div> /
    <div class="hideAll observatoryHider">-</div>
</div>
<div class="listObservatories">
    <form action="">
        <% _.each(resources, function(resource, name) { %>
            <% if ( name !== 'ION') { %>
                <div id="observatoryName">
                    <div class="expandHide arrowRight"> </div> <%= name %><br/>
                    <div class="nestedNavList showObservatory" style="display:none;">
                    <% _.each(resource, function(nestedResource) { %>
                        <input type="checkbox"> <%= nestedResource %></br>
                    <% }); %>
                    </div>
                </div>
            <% } %>
        <% }); %>
    </form>
</div>

<script>
    $(function(){
        $(".listObservatories .resourceLink").click(function(){
            var resource_id = $(this).attr('data-id');
            var url = "/Observatory/face/"+resource_id+"/";
            IONUX.ROUTER.navigate('');
            IONUX.ROUTER.navigate(url, {trigger:true});
        });

        $('#observatoryName .expandHide').on('click', function(e) {
            e.preventDefault();
            var $link = $(e.currentTarget);
            $link.parent().children('.showObservatory').slideToggle('fast', function() {
                console.log($(this) + " and " + $link);
                if ($(this).is(':visible')) {
                    $link.removeClass('arrowRight').addClass('arrowDown');              
                } else {
                    $link.removeClass('arrowDown').addClass('arrowRight');
                }        
            });
        });

        $('.checkAllObservatories').click(function(e){
            var $check = $(e.currentTarget);
            if ($check.is(':checked')) {
              $('.listObservatories').find('input').prop('checked', true);
            }
            else {
              $('.listObservatories').find('input').prop('checked', false);
            }
        });

        $('.observatoryExpander').on('click', function(e) {
            e.preventDefault();
            $('.listObservatories').find('.showObservatory').show();
            $('.listObservatories').find('.expandHide').removeClass('arrowRight').addClass('arrowDown');
        });

        $('.observatoryHider').on('click', function(e) {
            e.preventDefault();
            $('.listObservatories').find('.showObservatory').hide();
            $('.listObservatories').find('.expandHide').removeClass('arrowDown').addClass('arrowRight');
        });
    });
</script>