<div class="select_all">
    <div class="expandBtn sitesExpandToggle">+</div> Show / Hide All</br>
    <input class="checkAllSites" type="checkbox"/> Select All
</div>
<div class="listSites">
    <form action="">

        <% _.each(resources, function(nestedResources, san) { %>
            <div>
                <div class="expandHide expandBtn">+</div> <%= san %> Sites<br/>
                <div class="nestedNavList showSites" style="display:none;">
                <% _.each(nestedResources, function(r) { %>
                    <input type="checkbox" observatory_id="<%= r._id %>">
                        <div class="resourceLink leftNavListItem" data-id="<%= r._id %>">
                            <% if (r.local_name) { %>
                                <%= r.local_name %>
                            <% } else { %>
                                <%= r.name %>
                            <% }; %>
                        </div></br>
                <% }); %>
                </div>
            </div>
        <% }); %>
       
    </form>
</div>

<script>
    $(function(){
        $(".listSites .resourceLink").click(function(){
            var resource_id = $(this).attr('data-id');
            var url = "/Observatory/face/"+resource_id+"/";
            IONUX.ROUTER.navigate('');
            IONUX.ROUTER.navigate(url, {trigger:true});
        });

        $('.checkAllSites').click(function(e){
            var $check = $(e.currentTarget);
            if ($check.is(':checked')) {
              $('.listSites').find('input').prop('checked', true);
            }
            else {
              $('.listSites').find('input').prop('checked', false);
            }
        });

        $('.listSites .expandHide').on('click', function(e) {
            e.preventDefault();
            var $link = $(e.currentTarget);
            $link.parent().children('.showSites').slideToggle('fast', function() {
                console.log($(this) + " and " + $link);
                if ($(this).is(':visible')) {
                    $link.removeClass('expandBtn').addClass('hideBtn').html('-');              
                } else {
                    $link.removeClass('hideBtn').addClass('expandBtn').html('+');
                }        
            });
        });

        $('.sitesExpandToggle').click(function(e) {
            e.preventDefault();
            if($(this).hasClass('expandBtn')) {
                $('.listSites').find('.showSites').show();
                $('.listSites').find('.expandHide').removeClass('expandBtn').addClass('hideBtn').html('-');
                $(this).removeClass('expandBtn').addClass('hideBtn').html('-');
            } else {
                $('.listSites').find('.showSites').hide();
                $('.listSites').find('.expandHide').removeClass('hideBtn').addClass('expandBtn').html('+');
                $(this).removeClass('hideBtn').addClass('expandBtn').html('+');
            }
        });
    });
</script>