<div class="select_all">
    <input class="checkAllSites" type="checkbox"/> Select All 
    <div class="expandAll sitesExpander">Expand All</div> 
    <div class="hideAll sitesHider">Hide All</div>
</div>
<div class="listSites">
    <form action="">

        <% _.each(resources, function(nestedResources, san) { %>
            <div class="expandHide arrowRight"></div> <%= san %> Sites<br/>
            <div class="nestedNavList showSites" style="display:none;">
            <% _.each(nestedResources, function(r) { %>
                <input type="checkbox">
                    <div class="resourceLink" data-id="<%= r._id %>">
                        <% if (r.local_name) { %>
                            <%= r.local_name %>
                        <% } else { %>
                            <%= r.name %>
                        <% }; %>
                    </div></br>
            <% }) %>
            </div>
        <% }) %>
       
    </form>
</div>

<script>
    $(function(){
        $(".listSites .resourceLink").click(function(){
            var resource_id = $(this).attr('data-id');
            var url = "/Observatory/face/"+resource_id+"/";
            IONUX.ROUTER.navigate('');
            IONUX.ROUTER.navigate(url, {trigger:true});
        });

        $('.checkAllSites').click(function(e){
            var $check = $(e.currentTarget);
            if ($check.is(':checked')) {
              $('.listSites').find('input').prop('checked', true);
            }
            else {
              $('.listSites').find('input').prop('checked', false);
            }
        });

        $('.listSites .expandHide').on('click', function(e) {
            e.preventDefault();
            var $link = $(e.currentTarget);
            $link.parent().children('.showSites').slideToggle('fast', function() {
                console.log($(this) + " and " + $link);
                if ($(this).is(':visible')) {
                    $link.removeClass('arrowRight').addClass('arrowDown');
                } else {
                    $link.removeClass('arrowDown').addClass('arrowRight');
                }
            });
        });

        $('.sitesExpander').on('click', function(e) {
            e.preventDefault();
            $('.listSites').find('.showSites').show();
            $('.listSites').find('.expandHide').removeClass('arrowRight').addClass('arrowDown');
        });

        $('.sitesHider').on('click', function(e) {
            e.preventDefault();
            $('.listSites').find('.showSites').hide();
            $('.listSites').find('.expandHide').removeClass('arrowDown').addClass('arrowRight');
        });
    });
</script>