<span class="accordionTitle">
   <div class="expand_hide arrowRight"></div>
   <div class="accordionLabel">Spatial</div>
</span>
<section class="spatialDetails">
  <div class="leftNaviSelectContainer">
    <select class="latLongMenu">
      <option value="1">Lat/Long - Rect</option>
      <option value="2">Point/Radius</option>
    </select>
    <div class="leftNaviSelectArrow"></div>
  </div>
  <span class="labelThrough">From:</span>
  <input class="spatialDuration latlong" type="text" placeholder="Lat" />
  <div class="leftNavSelectContainer">
    <select>
      <option>N</option>
      <option>S</option>
    </select>
    <div class="leftNaviSelectContainerArrow"></div>
  </div>
  <input class="spatialDuration latlong" type="text" placeholder="Long" />
  <div class="leftNavSelectContainer">
    <select>
      <option>E</option>
      <option>W</option>
    </select>
    <div class="leftNaviSelectContainerArrow"></div>
  </div>
  <span class="labelThrough top_search_to">To:</span>
  <span class="accordionLabel twoSearchRadius">Radius:</span>
  <input class="spatialDuration latlong placeholder_lat" type="text" placeholder="Lat" />
  <input class="spatialDuration latlong noPlacehoderRadius" type="text" />
  <div class="leftNavSelectContainer">
    <select class="north_south_menu">
        <option>N</option>
        <option>S</option>
      </select>
    <select class="milesKilosMenu">
      <option>Mi</option>
      <option>Km</option>
    </select>
    <div class="leftNaviSelectContainerArrow"></div>
  </div>
  <input class="latlong show_hide_longitude" type="text" placeholder="Long" />
  <div class="leftNavSelectContainer show_hide_longitude">
    <select>
      <option>E</option>
      <option>W</option>
    </select>
    <div class="leftNaviSelectContainerArrow"></div>
  </div>
  <h5>Vertical Extents</h5>
  <div class="accordionLabel">From:</div>
  <input class="latlong" type="text" />
  <div class="accordionLabel">To:</div>
  <input class="latlong" type="text" placeholder="Depth" />
  <div class="leftNavSelectContainer">
      <select>
        <option>FS</option>
        <option>M</option>
      </select>
      <div class="leftNaviSelectContainerArrow"></div>
    </div>
</section>

  

   
 <script>
      $(function(){
        $('.latLongMenu').on('change', function(e) {
          console.log('changed option ' + $(this).find('option:selected').attr('value'));
          if ($(this).find('option:selected').attr('value') == "2") {
            $('.top_search_to, .placeholder_lat, .north_south_menu, .show_hide_longitude').hide();
            $('.twoSearchRadius, .noPlacehoderRadius, .milesKilosMenu').show();
          }
          else {
            $('.twoSearchRadius, .noPlacehoderRadius, .milesKilosMenu').hide();
            $('.top_search_to, .placeholder_lat, .north_south_menu, .show_hide_longitude').show();
          }
        });
      });
</script>
