    <div class="leftNaviSelectContainer">
      <select class="temporal_menu">
        <option value="1">Data Collection</option>
        <option value="2">Planned Timestamps</option>
         <option value="3">Deployed Timestamps</option>
         <option value="4">Activated Timestamps</option>
      </select>
      <div class="leftNaviSelectArrow"></div>
    </div>
		<div>From</div>
		<div class='date-dropdown from_date_menu'>
			<select class="dateMenu year"></select>
			<select class="dateMenu month"></select>
   		<select class="dateMenu day"></select>
      <select class="dateMenu hour"></select>
    </div>
		<div>To</div>
		<div class='date-dropdown to_date_menu'>
			<select class="dateMenu year"></select>
			<select class="dateMenu month"></select>
   		<select class="dateMenu day"></select>
      <select class="dateMenu hour"></select>
    </div>